<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SfPlayground</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SfAutoCompleteObject">
                <span class="oi oi-list" aria-hidden="true"></span> SfAutoComplete (obj)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SfAutoCompleteString">
                <span class="oi oi-list" aria-hidden="true"></span> SfAutoComplete (str)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SfGrid">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> SfGrid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SfHierarchyGrid">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> SfGrid with Hierarchy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SfGridScroll">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> SfGrid (scroll)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
